{% extends 'base.html' %}
{% load pagination_tags %}
{% block title %}NewsLine{% endblock title %}
{% load humanize %}

{% block navbar %}
    <div class="dropdown show" >
        <a class="btn btn-secondary dropdown-toggle" style="color: black;
            background: linear-gradient(120deg, #87F0C1 0%, #8CDCE3 100%)"
            href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            News per page
        </a>

        <div class="dropdown-menu " style="color: black; background: #eafef1" aria-labelledby="dropdownMenuLink" >
                <a class="dropdown-item" href="?limit=10">10</a>
                <a class="dropdown-item" href="?limit=20">20</a>
                <a class="dropdown-item" href="?limit=50">50</a>
        </div>

    </div>

    <ul>
        {% autopaginate news limit %}
        {% paginate %}
    </ul>
{% endblock navbar %}




{% block content %}
<!--
Debug output:
                <p>News overall {{ paginator.count }}</p>
                <p>Number of pages {{ paginator.num_pages }}</p>
                <p>Page range {{ paginator.page_range }}</p>
-->
<div class="float-xl-left">


</div>
    </div>
</div>
                    {% for peace_of_news in news %}
                        <div class="p-3">
                            <h2>{{ peace_of_news.title }}</h2>
                            <p><small>{{ peace_of_news.date|naturaltime }} | {{ peace_of_news.date|date:"d M Y H:i" }}</small></p>
                            <p>{{ peace_of_news.text }}</p>
                                <div class="mx-auto">

                                        <a class="btn btn-sm btn-light" style="background-color: #f6f6f6; color: grey; outline-color: gray;" href="{% url 'main_page:create_news' %}"
                                           role="button">Add fresh news &raquo;
                                        </a>

                              </div>
                        </div>
                    {% empty %}
                    <a class="btn btn-sm btn-secondary" style="background-color: #f6f6f6; color: grey; outline-color: gray;" href="{% url 'main_page:create_news' %}"
                                           role="button">Add fresh news &raquo;</a>
                    {% endfor %}



    {% autopaginate news limit %}
    {% paginate %}

        <div class="dropdown show" >
  <a class="btn btn-secondary dropdown-toggle" style="color: black; background: linear-gradient(120deg, #86F4BA 0%, #87EEC4 100%)" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    News per page
  </a>

  <div class="dropdown-menu "  aria-labelledby="dropdownMenuLink" >
    <a class="dropdown-item" href="?limit=10">10</a>
    <a class="dropdown-item" href="?limit=20">20</a>
    <a class="dropdown-item" href="?limit=50">50</a>
  </div>
</div>

           </div>
        </div>

    </div>
</div>


{% endblock content %}



