{% extends 'base.html' %}
{% load pagination_tags %}
{% block title %}NewsLine{% endblock title %}
{% load humanize %}

{% block content %}

    {% autopaginate news limit %}
    {% paginate %}


<div class="dropdown show" >
  <a class="btn btn-secondary dropdown-toggle" style="color: #86F3BC" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    News per page
  </a>

  <div class="dropdown-menu"  aria-labelledby="dropdownMenuLink" >
    <a class="dropdown-item" href="?limit=10">10</a>
    <a class="dropdown-item" href="?limit=20">20</a>
    <a class="dropdown-item" href="?limit=50">50</a>
  </div>
</div>

<!--
Debug:
                <p>News overall {{ paginator.count }}</p>
                <p>Number of pages {{ paginator.num_pages }}</p>
                <p>Page range {{ paginator.page_range }}</p>
-->
    <div class="container mt-3">
        <div class="row my-5">
            <div class="col-11">
                    {% for peace_of_news in news %}
                        <div class="p-3">
                            <h2>{{ peace_of_news.title }}</h2>
                            <p><small>{{ peace_of_news.date|naturaltime }}</small></p>
                            <p>{{ peace_of_news.text }}</p>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}



