{% if news_obj.has_other_pages %}
    <div style="position: sticky">
        <ul class="pagination" style="position: s;">
            {# Dropdown news per page #}
                <li style="z-index: 91;">
                    <div class="dropdown show" >
                        <a class="btn btn-secondary dropdown-toggle" style="color: black;
                            background: linear-gradient(120deg, #87F0C1 0%, #8CDCE3 100%)"
                            href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            News per page
                        </a>

                        <div class="dropdown-menu " style="color: black;
                            background: #eafef1" aria-labelledby="dropdownMenuLink" >
                            <a class="dropdown-item" href="?limit=10">10</a>
                            <a class="dropdown-item" href="?limit=20">20</a>
                            <a class="dropdown-item" href="?limit=50">50</a>
                        </div>
                    </div>
                </li>
            {# Buttons of pagination #}
            {% if news_obj.has_previous %}
                <li class="page-item"><a class="page-link" style="background: #e0fff5" href="?page={{ news_obj.previous_page_number }}&limit={{ limit }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
            {% endif %}
            {% for i in news_obj.paginator.page_range %}
                {% if news_obj.number == i %}
                <li class="page-item"><a class="page-link" style="color: black;
                       background: linear-gradient(120deg, #87F0C1 0%, #8CDCE3 100%)"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" style="background: #e0fff5" href="?page={{ i }}&limit={{ limit }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if news_obj.has_next %}
                <li class="page-item"><a class="page-link" style="background: #e0fff5" href="?page={{ news_obj.next_page_number }}&limit={{ limit }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
            {% endif %}

        </ul>
    </div>

{% endif %}
